.task-header{
  display: flex;
  align-items: center;
  margin-bottom: 18px;

  .title{
    flex: 1;
    margin-bottom: 0;
  }
}

.subtitle{
  text-align: center;
  color: #999;
}

.task{
  color: #444;
  background-color: #f4f4f4;
  border-bottom: 2px solid #d1d1d1;
  display: flex;
  align-items: center;
  padding: 20px;

  &:hover {
    color: #444;
    background-color: #efefef;
  }

  .details {
    flex: 1;

    .title {
      margin-bottom: 6px;
    }

    .description {
      margin-bottom: 0;
    }
  }

  .time-and-days {
    display: flex;
    justify-content: center;
    align-items: center;

    .time {
      font-weight: bold;
      margin-right: 8px;
    }

    .day {
      margin-left: 8px;
      font-weight: bold;
      color: #aaa;

      &.active {
        color: #666;
      }
    }
  }
}

.form-header {
  margin-bottom: 0;
}

.actions {
  margin: 9px 0;
}

@media only screen and ( min-width: 320px) and ( max-width: 480px) {
  /* Small screens */
  .task-header {
    margin-bottom: 25px;
  }
  .task {
    flex-direction: column;

    .details {
      .description {
        margin-bottom: 6px;
      }
    }

    .time-and-days {
      flex-direction: column;

      .time {
        margin-bottom: 6px;
      }
    }
  }
}
