.task-form {
  align-items: center;

  label {
    display: inline-block;
    margin: 8px 0;
    color: #5b5b5b;
    font-weight: 600;
  }

  .time-select {
    display: flex;

    select {
      max-width: 100px;
      cursor: pointer;
    }
  }

  .days-of-week {
    display: flex;

    label {
      cursor: pointer;
      padding: 10px;
      background-color: #eee;
      color: #777;
      border-radius: $base-border-radius;
      margin-right: 10px;
      margin-bottom: 8px;
      font-size: 14px;

      &:last-child {
        margin-right: 0;
      }
    }

    input {
      display: none;
    }

    input:checked + label {
      background-color: #ccc;
      color: #333;
    }
  }
}

.task_title{
  margin-bottom: 0;
}


@media only screen and ( min-width: 320px) and ( max-width: 639px) {
  .days-of-week {
    flex-wrap: wrap;
  }

  .time-select {
    display: flex;

    select {
      max-width: 100px;
      cursor: pointer;
    }
  }
}
